/* 
Date : 19-01-21
내용 : 스크롤 제어
작성자 : 고은아
 */
.bContentimg img {
	width: 500px;
	height: 375px;
}

.floating { position: fixed;
			right: 10%; }

#upBtn {
	position: fixed;
	bottom: 10px;
	right: 10px;
}